{% trans_default_domain 'ad_admin_content_usage' %}

<div>
    {{ 'content_type_usage.content_distribution'|trans({
        '%global_content_count%': global_content_count,
        '%used_content_type_count%': used_content_type_count,
    })|desc('%global_content_count% contents of %used_content_type_count% (used) content types') }}
    {%- if content_count_list|length > used_content_type_count %}
        {{ 'content_type_usage.content_type_count_notice'|trans({
            '%content_type_count%': content_count_list|length,
        })|desc('If some content types are not used, this is a notice about the total number of content types — %content_type_count%&#xa0;available content types)') }}
    {%- endif -%}.
</div>

<table class="ez-table table" style="width: auto;">
    <thead>
    <tr>
        <th scope="col">{{ 'common.content_type'|trans|desc('Content Type') }}</th>
        <th scope="col">{{ 'common.content_count'|trans|desc('Content Count') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for content_count in content_count_list %}
        <tr>
            <td>
                <svg class="ez-icon ez-icon--small">
                    <use xlink:href="{{ ez_content_type_icon(content_count.content_type_identifier) }}"></use>
                </svg>
                <a href="{{ path('ezplatform.content_type.view', {
                    'contentTypeGroupId': content_count.content_type_group.id,
                    'contentTypeId': content_count.content_type.id
                }) }}"
                   title="{{ content_count.content_type_group.identifier }} / {{ content_count.content_type.name }} ({{ content_count.content_type_identifier }})"
                >
                    {{ content_count.content_type.name }}
                </a>
            </td>
            <td align="right">
                <a href="{{ path('ezplatform.search', {
                    'search': {
                        'content_types': [content_count.content_type_identifier]
                    }
                }) }}">
                    {{ content_count.content_count }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
