<div>
    {{ global_content_count }}&nbsp;contents in {{ used_content_type_count }}&nbsp;content types
    {%- if content_count_list|length > used_content_type_count %}
    (among {{ content_count_list|length }} available content types)
    {%- endif -%}.
</div>

<table class="ez-table table" style="width: auto;">
    <thead>
    <tr>
        <th scope="col">Content Type</th>
        <th scope="col">Content Count</th>
    </tr>
    </thead>
    <tbody>
    {% for content_count in content_count_list %}
        <tr>
            <td>
                <svg class="ez-icon ez-icon--small">
                    <use xlink:href="{{ ez_content_type_icon(content_count.content_type_identifier) }}"></use>
                </svg>
                <a href="{{ path('ezplatform.content_type.view', {
                    'contentTypeGroupId': content_count.content_type_group.id,
                    'contentTypeId': content_count.content_type.id
                }) }}"
                   title="{{ content_count.content_type_group.identifier }} / {{ content_count.content_type.name }}">
                    {{ content_count.content_type.name }}
                </a>
            </td>
            <td align="right">{{ content_count.content_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
