{% trans_default_domain 'ad_admin.content_usage' %}
<div>
    <p>Find good and bad examples for each field of a content type</p>
    <dl>
        <dt>{{ 'best_example'|trans|desc('Best Example') }}</dt>
        <dd>A content having this optional field not empty, the maximum of other optional field not empty and no empty
            required field.
        </dd>
        <dt>{{ 'bad_example'|trans|desc('Bad Example') }}</dt>
        <dd>A content having this required field empty. (For example, it can happen when a field has become required but
            previous content haven't been updated.)
        </dd>
    </dl>
</div>
<fieldset>
    <legend>Content Type</legend>
    <select id="example_finder_content_type">
        <option value="">Select a content type…</option>
        {% for content_type_group in content_type_list %}
            <option disabled value="">{{ content_type_group.itself.identifier }}</option>
            {% for content_type in content_type_group.content_types %}
                <option value="{{ content_type.identifier }}">
                    {{ content_type.name }}
                </option>
            {% endfor %}
        {% endfor %}
        {# TODO: Remove before release #}
        <option value="unknown">Unknown content type!</option>
    </select>
</fieldset>
<script>
    {# TODO: Cleaner URLs; Test on dedicated domain;… #}
    {% set content_type_placeholder = '+content_type+' %}
    let tableBaseUrl = '{{ path('ad_admin.content_usage.example_finder.table', {content_type: content_type_placeholder}) }}'.replace('{{ content_type_placeholder }}', ''),
        contentBaseUrl = '{{ path('ez_urlalias', {'locationId': 2} ) }}/view/content/',
        searchBaseUrl = '{{ path('ad_admin.content_usage.example_finder.search', {content_type: content_type_placeholder}) }}'.replace('{{ content_type_placeholder }}', '');
</script>
<div>Example Finder status: <em id="example_finder_status">Waiting for Content Type selection…</em></div>
<div id="example_finder_result"></div>