{% trans_default_domain 'ad_admin_content_usage' %}
<div>
    <p>{{ 'example_finder_purpose'|trans }}</p>
    <dl>
        <dt>{{ 'best_example'|trans|desc('Best Example') }}</dt>
        <dd>{{ 'best_example_definition'|trans }}</dd>
        <dt>{{ 'bad_example'|trans|desc('Bad Example') }}</dt>
        <dd>{{ 'bad_example_definition'|trans }}</dd>
    </dl>
</div>
<form id="example_finder_form">
    <div>
        <label for="example_finder_content_type">{{ 'content_type'|trans|desc('Content Type') }}</label>
        <select id="example_finder_content_type" class="form-control">
            <option value="" disabled selected class="placeholder">{{ 'select_content_type'|trans|desc('Select a content type…') }}</option>
            {% for content_type_group in content_type_list %}
                <optgroup label="{{ content_type_group.itself.identifier }}">
                    {% for content_type in content_type_group.content_types %}
                        <option value="{{ content_type.identifier }}">
                            {{ content_type.name }}
                        </option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="example_finder_language_code">{{ 'language'|trans|desc('Language') }}</label>
        <select id="example_finder_language_code" class="form-control">
            <option value="" selected>{{ 'all_languages'|trans|desc('All languages') }}</option>
            {% for language in language_list %}
                <option value="{{ language.languageCode }}">{{ language.name }}</option>
            {% endfor %}
        </select>
    </div>
</form>
<script>
    {% set content_type_placeholder = '+content_type+' %}
    {% set content_id_placeholder = 41 %}
    let exampleFinderConfig= {
        layoutBaseUrl: '{{ path('ad_admin.content_usage.example_finder.table', {content_type: content_type_placeholder})|replace({(content_type_placeholder): ''}) }}',
        searchBaseUrl: '{{ path('ad_admin.content_usage.example_finder.search', {content_type: content_type_placeholder})|replace({(content_type_placeholder): ''}) }}'
    };
</script>
<div>
    {{ 'example_finder_status'|trans|desc('Example Finder status') }}:
    <em id="example_finder_status">{{ 'waiting_selection'|trans|desc('Waiting for Content Type selection…') }}</em>
</div>
<div id="example_finder_result"></div>