{% trans_default_domain 'ad_admin_content_usage' %}

{% if missing_languages.from_config|length %}
    <div class="missing_language danger">
        <p>
            {{ missing_languages.from_config|length }}&nbsp;language{{ 1 < missing_languages.from_config|length ? 's are' : ' is' }}
            missing from configuration; Some errors will occur if used until it's added to configuration.
        </p>
        <ul>
            {% for language_code in missing_languages.from_config %}
                <li>
                    <code>{{ language_code }}</code> | {{ language_map[language_code].name }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if missing_languages.from_database|length %}
    <div class="missing_language warning">
        <p>
            {{ missing_languages.from_database|length }}&nbsp;language code{{ 1 < missing_languages.from_database|length ? 's are' : ' is' }}
            declared in configuration but missing from database; It won't be usable until created in database.
        </p>
        <ul>
            {% for language_code in missing_languages.from_database %}
                <li>
                    <code>{{ language_code }}</code>
                </li>
            {% endfor %}
        </ul>
        <div><a href="{{ path('ezplatform.language.list') }}">{{ 'language_usage.list_language'|trans|desc('List languages registered in database') }}</a></div>
        <div><a href="{{ path('ezplatform.language.create') }}">{{ 'language.new'|trans({}, 'language') }}</a></div>
    </div>
{% endif %}
<table class="ez-table table language-usage" style="width: auto;">
    <thead>
    <tr>
        <th scope="col">{{ 'common.language'|trans|desc('Language') }}</th>
        <th scope="col">{{ 'common.content_count'|trans|desc('Content Count') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for language_code, content_count in content_count_list %}
        <tr>
            {% if language_code is empty %}
                <td class="nonexistent" title="{{ 'language_usage.nonexistent_language_explanation'|trans }}">
                    ({{ 'language_usage.nonexistent_language'|trans|desc('Nonexistent language') }})
                </td>
            {% else %}
                <td class="{{ language_map[language_code].enabled ? 'enabled' : ('disabled" title="'~'language_usage.disabled_language'|trans|desc('Disabled language'))|raw }}">
                    <a href="{{ path('ezplatform.language.view', {languageId: language_map[language_code].id}) }}">
                        {{ language_map[language_code].name }}
                    </a>
                </td>
            {% endif %}
            <td align="right">{{ content_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
