{% trans_default_domain 'ad_admin_content_usage' %}

{% if missing_languages.from_config|length %}
    <div class="missing_language">
        <p>
            {{ missing_languages.from_config|length }}&nbsp;language{{ 1 < missing_languages.from_config|length ? 's are' : ' is' }}
            missing from configuration; Some errors will occur if used.
        </p>
        <ul>
            {% for language_code in missing_languages.from_config %}
                <li>
                    {{ language_code }} | {{ language_map[language_code].name }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if missing_languages.from_database|length %}
    <div class="missing_language">
        <p>
            {{ missing_languages.from_database|length }}&nbsp;language code{{ 1 < missing_languages.from_database|length ? 's are' : ' is' }}
            declared in configuration but missing from database; Some errors will occur when using other language.
        </p>
        <ul>
            {% for language_code in missing_languages.from_database %}
                <li>
                    {{ language_code }}
                </li>
            {% endfor %}
        </ul>
        <div><a href="{{ path('ezplatform.language.list') }}">{{ 'list_language'|trans|desc('List languages registered in database') }}</a></div>
        <div><a href="{{ path('ezplatform.language.create') }}">{{ 'language.new'|trans({}, 'language') }}</a></div>
    </div>
{% endif %}
<table class="ez-table table language-usage" style="width: auto;">
    <thead>
    <tr>
        <th scope="col">{{ 'language'|trans|desc('Language') }}</th>
        <th scope="col">{{ 'content_count'|trans|desc('Content Count') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for content_count in content_count_list %}
        <tr>
            {% if content_count.language_code is null %}
                <td class="nonexistent" title="{{ 'nonexistent_language_explanation'|trans }}">
                    {{ 'nonexistent_language'|trans|desc('Nonexistent language') }}
                </td>
            {% else %}
                <td class="{{ language_map[content_count.language_code].enabled ? 'enabled' : 'disabled' }}">{{ language_map[content_count.language_code].name }}</td>
            {% endif %}
            <td align="right">{{ content_count.content_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>