{% trans_default_domain 'ad_admin_monitor' %}

{% set width = 300 %}
{% for identifier, metrics in os_metrics %}
    <div class="server">
        <h2>{{ identifier }}</h2>
        <div class="usage physical_memory_usage" style="margin-right: {{ (width/6)|round }}px;">
            <h3>{{ 'physical_memory'|trans|desc('Physical Memory') }}</h3>
            <div class="bar total total_physical_memory"
                 style="width: {{ width }}px;">
                <div class="bar free free_physical_memory"
                     style="width:{{ (width * metrics.free_physical_memory/metrics.total_physical_memory)|round }}px;"></div>
            </div>
            <table class="ez-table table" style="width: {{ width }}px;">
                <thead>
                <tr>
                    <th scope="col">{{ 'used_physical_memory'|trans|desc('Used') }}</th>
                    <th scope="col">{{ 'total_physical_memory'|trans|desc('Total') }}</th>
                    <th scope="col">{{ 'free_physical_memory'|trans|desc('Free') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ metrics.used_physical_memory_human_readable }}</td>
                    <td>{{ metrics.total_physical_memory_human_readable }}</td>
                    <td>{{ metrics.free_physical_memory_human_readable }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="usage swap_space_usage" style="margin-right: {{ (width/6)|round }}px;">
            <h3>{{ 'swap_space'|trans|desc('Swap Space') }}</h3>
            <div class="bar total total_swap_space"
                 style="width: {{ width }}px;">
                <div class="bar free free_swap_space"
                     style="width:{{ (width * metrics.free_swap_space/metrics.total_swap_space)|round }}px;"></div>
            </div>
            <table class="ez-table table" style="width: {{ width }}px;">
                <thead>
                <tr>
                    <th scope="col">{{ 'used_swap_space'|trans|desc('Used') }}</th>
                    <th scope="col">{{ 'total_swap_space'|trans|desc('Total') }}</th>
                    <th scope="col">{{ 'free_swap_space'|trans|desc('Free') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ metrics.used_swap_space_human_readable }}</td>
                    <td>{{ metrics.total_swap_space_human_readable }}</td>
                    <td>{{ metrics.free_swap_space_human_readable }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}