{% trans_default_domain 'ad_admin_monitor' %}

{% set width = 300 %}

<div style="float: left; margin-right: {{ (width/6)|round }}px;">
    <h3>Physical Memory</h3>
    <div id="total_physical_memory"
         style="width: {{ width }}px; height: 10px; background: red;">
        <div id="free_physical_memory"
             style="width:{{ (width * free_physical_memory/total_physical_memory)|round }}px; height: 10px; background: green; float: right;"></div>
    </div>
    <table style="width: {{ width }}px;" class="ez-table">
        <thead>
        <tr>
            <th scope="col" style="width: 33%">Used</th>
            <th scope="col" style="width: 34%">Total</th>
            <th scope="col" style="width: 33%">Free</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ used_physical_memory_human_readable }}</td>
            <td>{{ total_physical_memory_human_readable }}</td>
            <td>{{ free_physical_memory_human_readable }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div style="float: left; margin-right: {{ (width/6)|round }}px;">
    <h3>Swap Space</h3>
    <div id="total_swap_space"
         style="width: {{ width }}px; height: 10px; background: red;">
        <div id="free_swap_space"
             style="width:{{ (width * free_swap_space/total_swap_space)|round }}px; height: 10px; background: green; float: right;"></div>
    </div>
    <table style="width: {{ width }}px;" class="ez-table">
        <thead>
        <tr>
            <th scope="col" style="width: 33%">Used</th>
            <th scope="col" style="width: 34%">Total</th>
            <th scope="col" style="width: 33%">Free</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ used_swap_space_human_readable }}</td>
            <td>{{ total_swap_space_human_readable }}</td>
            <td>{{ free_swap_space_human_readable }}</td>
        </tr>
        </tbody>
    </table>
</div>
