{% extends "@ezdesign/ui/layout.html.twig" %}

{% trans_default_domain 'ad_admin_identification' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('ad-admin-identification-css', null, 'ezplatform') }}
{% endblock %}

{% block breadcrumbs %}
    {% include '@ezdesign/ui/breadcrumbs.html.twig' with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'main__admin__identification'|trans|desc('Identification') }
    ]} %}
{% endblock %}

{% block page_title %}
    {% include '@ezdesign/ui/page_title.html.twig' with {
        title: 'identification'|trans|desc('Identification'),
        icon_name: 'information'
    } %}
{% endblock %}

{% block content %}
    <section class="container mt-4 px-5">
        {{ form(form) }}
    </section>
    <section class="container mt-4 px-5">
        {% if identified_list is not null %}
            {% if identified_list.content is not null %}
                <div class="ez-table-header">
                    <div class="ez-table-header__headline">{{ 'identification.headline.content'|trans|desc('Content') }}</div>
                </div>
                <table class="ez-table table mb-3">
                    <thead>
                    <tr>
                        <th>{{ 'identification.table.content'|trans|desc('Content') }}</th>
                        <th>{{ 'identification.table.content.id'|trans|desc('Content ID') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="ez-table__cell">
                            <a href="{{ ez_path(identified_list.content) }}">
                                {{ ez_content_name(identified_list.content) }}
                            </a>
                        </td>
                        <td class="ez-table__cell">{{ identified_list.content.id }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if identified_list.location is not null %}
                <div class="ez-table-header">
                    <div class="ez-table-header__headline">{{ 'identification.headline.location'|trans|desc('Location') }}</div>
                </div>
                <table class="ez-table table mb-3">
                    <thead>
                    <tr>
                        <th>{{ 'identification.table.content'|trans|desc('Content') }}</th>
                        <th>{{ 'identification.table.content.id'|trans|desc('Content ID') }}</th>
                        <th>{{ 'identification.table.location.id'|trans|desc('Location ID') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="ez-table__cell">
                            <a href="{{ ez_path(identified_list.location) }}">
                                {{ ez_content_name(identified_list.location.content) }}
                            </a>
                        </td>
                        <td class="ez-table__cell">{{ identified_list.location.content.id }}</td>
                        <td class="ez-table__cell">{{ identified_list.location.id }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if identified_list.content_type_list|length %}
                <div class="ez-table-header">
                    <div class="ez-table-header__headline">{{ 'identification.headline.content_types'|trans|desc('Content Types') }}</div>
                </div>
                <table class="ez-table table mb-3">
                    <thead>
                    <tr>
                        <th>{{ 'identification.table.content_type'|trans|desc('Content Type') }}</th>
                        <th>{{ 'identification.table.content_type.id'|trans|desc('Content Type ID') }}</th>
                        <th>{{ 'identification.table.content_type.identifier'|trans|desc('Content Type Identifier') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for content_type in identified_list.content_type_list %}
                        <tr>
                            <td class="ez-table__cell">
                                <svg class="ez-icon ez-icon--small">
                                    <use xlink:href="{{ ez_content_type_icon(content_type.identifier) }}"></use>
                                </svg>
                                <a href="{{ path('ezplatform.content_type.view', {
                                    'contentTypeGroupId': content_type.contentTypeGroups.0.id,
                                    'contentTypeId': content_type.id
                                }) }}" title="">
                                    {{ content_type.name }}
                                </a>
                            </td>
                            <td class="ez-table__cell">{{ content_type.id }}</td>
                            <td class="ez-table__cell">{{ content_type.identifier }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if identified_list.content_type_field_list|length %}
                <div class="ez-table-header">
                    <div class="ez-table-header__headline">{{ 'identification.headline.content_type_fields'|trans|desc('Fields') }}</div>
                </div>
                <table class="ez-table table mb-3">
                    <thead>
                    <tr>
                        <th>{{ 'identification.table.content_type'|trans|desc('Content Type') }}</th>
                        <th>{{ 'identification.table.content_type_field.name'|trans|desc('Field Name') }}</th>
                        <th>{{ 'identification.table.content_type_field.id'|trans|desc('Field ID') }}</th>
                        <th>{{ 'identification.table.content_type_field.identifier'|trans|desc('Field Identifier') }}</th>
                        <th>{{ 'identification.table.content_type_field.type'|trans|desc('Field Type') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in identified_list.content_type_field_list %}
                        <tr>
                            <td class="ez-table__cell">
                                <svg class="ez-icon ez-icon--small">
                                    <use xlink:href="{{ ez_content_type_icon(field.content_type.identifier) }}"></use>
                                </svg>
                                <a href="{{ path('ezplatform.content_type.view', {
                                    'contentTypeGroupId': field.content_type.contentTypeGroups.0.id,
                                    'contentTypeId': field.content_type.id
                                }) }}" title="ID: {{ field.content_type.id }}; Identifier:{{ field.content_type.identifier }}">
                                    {{ field.content_type.name }}
                                </a>
                            </td>
                            <td class="ez-table__cell">{{ field.field_definition.name }}</td>
                            <td class="ez-table__cell">{{ field.field_definition.id }}</td>
                            <td class="ez-table__cell">{{ field.field_definition.identifier }}</td>
                            <td class="ez-table__cell">
                                {{ (field.field_definition.fieldTypeIdentifier ~ '.name')|trans(domain='fieldtypes') }}
                                <small>({{ field.field_definition.fieldTypeIdentifier }})</small>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}